# Laravel
/bootstrap/compiled.php
/vendor

# Configuration
/app/config/local
/app/config/staging
/app/config/production
.env.*.php
.env.php

# Composer
composer.phar
composer.lock

# OS
.DS_Store
.idea/
Thumbs.db
